<settings>
	<category label="[COLOR red][B]ADD PATHS[/B][/COLOR]">
		<setting label="[B]URL to m3u playlist[/B]" type="text"  id="online_m3u" default="https://sites.google.com/site/3dgardoiptv/iptv/catpeliculainfantiles.m3u" />
		<setting label="[B]Local path to m3u playlist[/B]" type="file"  id="local_m3u" default="" />	
		<setting label="[COLOR red][B]URL to xml playlist[/B][/COLOR]" type="text"  id="online_xml" default="https://sites.google.com/site/3dgardoiptv/iptv/3dgardoIPTV_12192015_121028.xml" />		
		<setting label="[COLOR red][B]Local path to xml playlist[/B][/COLOR]" type="file"  id="local_xml" default="" />			
	</category>
</settings>